<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAOe4tw1PO00WFcK49ZHOU6dM6cU9P3a1w</string>
	<key>GCM_SENDER_ID</key>
	<string>18812244708</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.muroyama.yui.OnecolorCam</string>
	<key>PROJECT_ID</key>
	<string>onecolorcam</string>
	<key>STORAGE_BUCKET</key>
	<string>onecolorcam.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:18812244708:ios:d1786ff537e78d59ec12f1</string>
</dict>
</plist>